# Personal Access Token (PAT, classic) from a *different* user, for the agent to use.
# Typically needs the 'repo' and 'read:org' scopes, and eventually 'workflow' if there
# are GitHub Actions to manage.
GH_TOKEN=

# optional: set this to not have to re-login to claude every time the devcontainer is remade
# token can be obtained with `claude setup-token`
CLAUDE_CODE_OAUTH_TOKEN=

#NODE_EXTRA_CA_CERTS=/usr/local/share/ca-certificates/mitm.crt
